@import '../style/var';

@wing-blank: ~"@{prefix}-wing-blank";

.@{wing-blank} {
  margin-right: @wing-blank-spacing-sm;
  margin-left: @wing-blank-spacing-sm;

  &&--xs {
    margin-right: @wing-blank-spacing-xs;
    margin-left: @wing-blank-spacing-xs;
  }

  &&--sm {
    margin-right: @wing-blank-spacing-sm;
    margin-left: @wing-blank-spacing-sm;
  }

  &&--md {
    margin-right: @wing-blank-spacing-md;
    margin-left: @wing-blank-spacing-md;
  }

  &&--lg {
    margin-right: @wing-blank-spacing-lg;
    margin-left: @wing-blank-spacing-lg;
  }
}
