@import '../style/var';

@white-space: ~"@{prefix}-white-space";

.@{white-space} {
  &&--xxs {
    height: @white-space-spacing-xxs;
  }

  &&--xs {
    height: @white-space-spacing-xs;
  }

  &&--sm {
    height: @white-space-spacing-sm;
  }

  &&--md {
    height: @white-space-spacing-md;
  }

  &&--lg {
    height: @white-space-spacing-lg;
  }

  &&--xl {
    height: @white-space-spacing-xl;
  }
}
