@import '../style/var';

@notice-bar: ~"@{prefix}-notice-bar";
@notice-bar-play: ~"@{notice-bar}-play";
@notice-bar-play-infinite: ~"@{notice-bar-play}-infinite";

.@{notice-bar} {
  position: relative;
  display: flex;
  align-items: center;
  height: @notice-bar-height;
  padding: @notice-bar-padding;
  color: @notice-bar-text-color;
  font-size: @notice-bar-font-size;
  line-height: @notice-bar-line-height;
  background-color: @notice-bar-background-color;

  &__left-icon,
  &__right-icon {
    width: @notice-bar-icon-size;
    height: @notice-bar-icon-size;
  }

  &__left-icon {
    margin-right: 6px;
  }

  &__right-icon {
    margin-left: 6px;
  }

  &__wrap {
    position: relative;
    flex: 1;
    height: @notice-bar-line-height;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    white-space: nowrap;

    &.mt-ellipsis {
      max-width: 100%;
    }
  }

  &__play {
    animation: @notice-bar-play linear both;

    &--infinite {
      animation: @notice-bar-play-infinite linear infinite both;
    }
  }

  &--wrapable {
    height: auto;
    padding: @notice-bar-wrapable-padding;

    .@{notice-bar} {
      &__wrap {
        height: auto;
      }

      &__content {
        position: relative;
        white-space: normal;
      }
    }
  }
}

/**
 * Declare two same keyframes
 * In case that some mobile browsers can continue animation when className changed
 */
@keyframes @notice-bar-play {
  to { transform: translate3d(-100%, 0, 0); }
}

@keyframes @notice-bar-play-infinite {
  to { transform: translate3d(-100%, 0, 0); }
}
